ALTER TABLE public.workout_exercises ADD COLUMN IF NOT EXISTS is_cardio BOOLEAN DEFAULT FALSE;
ALTER TABLE public.logs ADD COLUMN IF NOT EXISTS duration INTEGER;
ALTER TABLE public.logs ADD COLUMN IF NOT EXISTS calories INTEGER;
